{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "static/css/bootstrap.min.css" rel="stylesheet">
   
    <title>{% block title %}My Site {% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link " href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/create-post">Post</a>
                    </li>
                </ul>
            </div>
            <div>
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <h5 class="btn-success"> Welcome {{user.username}}</h5>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-primary" href="{% url 'logout' %}">Log out</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link btn-primary" href="{% url 'login' %}">Login</a>
                    </li>
                    
                    {% endif %}
                               
                </ul>
            </div>

        </div>
    </nav>
    <div class="container-fluid">
        {% block content %} NO content yet
        {% endblock %}
    </div>
    <script src="static/js/bootstrap.bundle.min.js"></script>
    
</body>
</html>